<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<aside class = "sidebar">

  <h2>Business AI</h2>
    </div>
    <ul class = "sidebar-menu">
        <li><a href="#">Chat</a></li>
        <li><a href="#">Integration</a></li>
        <li><a href="#">Activity</a></li>
        <li><a href="#">Setting</a></li>
    </ul>
</aside>


<main class = "main">
    <header>
      <div>
        <h1>Good Evening from here!</h1>
        <p>Welcome to Business AI, your personal assistant for business insights and analytics.</p>
      </div>
      <button>
        <!-- Find Profile pic SVG -->
      <img src="https://www.svgrepo.com/show/390671/profile-user-avatar-man-person.svg" alt="Profile Picture" class="profile-pic">

      <img src = "https://www.svgrepo.com/show/521503/bell.svg" alt = "Notification Icon" class = "notification-icon">
      
      </button>
      <button> Connect your apps </button>

    </header>